*.py[cod]
*$py.class
*.code-workspace
build/
dist/
*.egg-info/
__pycache__/
*/__pycache__/
pycross/assets/*.txt
pycross/settings.pxjson
*/*.log
*/*.json
*/autosaved.xpf
/mynotes.txt
/*.xpf
/*.bat
*/.vscode/
*/nohup.out
pycross/plugins/*
!pycross/plugins/__init__.py