.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Arial";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Arial";
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Arial";
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
span.h3
{
font-family:"Arial";
font-size: 11pt;color:#6513ec;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
span.menu
{
font-family:"Courier New";
font-size: 11pt;color:#2532da;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.caption
{
font-family:"Verdana";
font-size: 11pt;color:#3785c8;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
span.note
{
font-family:"Verdana";
font-size: 11pt;color:#0012ff;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
img.de_75F9C4A440
{
margin-top: 3px; margin-right: 3px; margin-bottom: 3px; margin-left: 3px;}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
img.de_D7A9C94272
{
margin-top: 8px; margin-right: 8px; margin-bottom: 8px; margin-left: 8px;}
span.de_273658AF71
{
	color:#d800ff;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_31A4EF827C
{
	font-size: 12pt;
	color:#000000;
	font-style:italic;
}
span.de_496AA02164
{
	font-size: 12pt;
	color:#000000;
}
span.de_4CD179DA38
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#000000;
}
span.de_52574F0E7B
{
	color:#ec1346;
	text-decoration:underline;
}
span.de_823826CA2C
{
	font-style:italic;
}
span.de_B261420348
{
	font-size: 14pt;
}
span.de_CED2805213
{
	color:#ff003c;
}
span.de_CF136AA7C2
{
	color:#ec1346;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, disc) '\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, disc) '\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, disc) '\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3 > div > * {
	text-indent: 0px;}
.list-counter-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3, disc) '\00a0';
	counter-increment: list-counter-3;
}
.list-counter-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-4 > div > * {
	text-indent: 0px;}
.list-counter-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-4, decimal) '.\00a0';
	counter-increment: list-counter-4;
}
.list-counter-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-5 > div > * {
	text-indent: 0px;}
.list-counter-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-5, disc) '\00a0';
	counter-increment: list-counter-5;
}
.list-counter-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-6 > div > * {
	text-indent: 0px;}
.list-counter-6 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-6, disc) '\00a0';
	counter-increment: list-counter-6;
}
.list-counter-6 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-7 > div > * {
	text-indent: 0px;}
.list-counter-7 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-7, disc) '\00a0';
	counter-increment: list-counter-7;
}
.list-counter-7 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-8 > div > * {
	text-indent: 0px;}
.list-counter-8 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-8, disc) '\00a0';
	counter-increment: list-counter-8;
}
.list-counter-8 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-9 > div > * {
	text-indent: 0px;}
.list-counter-9 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-9, decimal) '.\00a0';
	counter-increment: list-counter-9;
}
.list-counter-9 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-10 > div > * {
	text-indent: 0px;}
.list-counter-10 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-10, disc) '\00a0';
	counter-increment: list-counter-10;
}
.list-counter-10 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-11 > div > * {
	text-indent: 0px;}
.list-counter-11 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-11, disc) '\00a0';
	counter-increment: list-counter-11;
}
.list-counter-11 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-12 > div > * {
	text-indent: 0px;}
.list-counter-12 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-12, disc) '\00a0';
	counter-increment: list-counter-12;
}
.list-counter-12 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-13 > div > * {
	text-indent: 0px;}
.list-counter-13 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-13, disc) '\00a0';
	counter-increment: list-counter-13;
}
.list-counter-13 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-14 > div > * {
	text-indent: 0px;}
.list-counter-14 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-14, disc) '\00a0';
	counter-increment: list-counter-14;
}
.list-counter-14 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
